[data-theme="blue"] {
  --text-color: #ffffff;
  --bg-color: #0c192d;
  --sidebar-bg-color: #2f476b;
  --sidebar-bg-top: #16263c;
  --kpi-bg: #11233f;
  --sidebar-bg-user: #113d84;
  --aside-menu-bg-colors: #27a8e0;
  --aside-menu-bg-color: #fff;
  --aside-menu-icon-color: #161616;
  --sidebar-border: #ffffff;
  --g-main-icon-color: #dadada;
  --g-border-kbi: #2f476b;
  --widget-bg-color: #11233f;
  --border-color: #6480a1;
  --background-color: #0c192d;
  --menu-hover-color: #16263c;
}
