[data-theme="dark"] {
  --text-color: #e6e6e6;
  --bg-color: #0a0a0a;
  --sidebar-bg-color: #535353;
  --sidebar-bg-top: #222;
  --kpi-bg: #161616;
  --sidebar-bg-user: #4f4f4f;
  --aside-menu-bg-color: #fff;
  --aside-menu-bg-colors: #27a8e0;
  --sidebar-border: #ffffff;
  --aside-menu-icon-color: #161616;
  --g-main-icon-color: #e6e6e6;
  --g-border-kbi: #282825;
  --widget-bg-color: #404040;
  --border-color: #444;
  --background-color: #1a1a1a;
  --menu-hover-color: #272727;
  --bg-kbi: var(--bg-color);
  --bg-widget-sidebar: #161616;
  --app-scroll: #666666;;
}
